In [6]:
import pandas as pd

In [8]:
df1 = pd.read_excel (r'E:\MeterConsumptionDataSpreadsheet_metered_en (5).xlsx')

In [10]:
df1

,Start Date (Required),End Date (Required),Usage (Required),Cost (Optional),Estimation (Required)
0,2023-07-01,2023-08-01,100,NaN,No
1,2023-08-01,2023-09-01,200,NaN,No

In [15]:
a = list(set(df1.columns))

In [16]:
a

['Cost (Optional)',
 'Start Date (Required)',
 'Estimation (Required)',
 'Usage (Required)',
 'End Date (Required)']

In [17]:
df1

,Start Date (Required),End Date (Required),Usage (Required),Cost (Optional),Estimation (Required)
0,2023-07-01,2023-08-01,100,NaN,No
1,2023-08-01,2023-09-01,200,NaN,No

In [18]:
type(df1)

pandas.core.frame.DataFrame